.iconSocialMedia{
    font-size: 1.5em;
    padding: 2px;
}

.iconSocialMedia:hover{
    color: #aaa9a9;
}

.jumbotron{
    background-color: #fff;
    margin: 0;
}

.jumbotron .jumbotron-heading{
    font-weight: 300;
}